

@font-face {
	font-family: Geomanist;
	font-style: normal;
	font-weight: 200;

	src: url('fonts/geomanist-regular-webfont.eot') format('embedded-opentype'); /* IE9 Compat Modes */
	src: url('fonts/geomanist-regular-webfont.woff2') format('woff2'), /* Moderner Browsers */
		 url('fonts/geomanist-regular-webfont.woff') format('woff'), /* Modern Browsers */
		 url('fonts/geomanist-regular-webfont.svg') format('svg'); /* Legacy iOS */
}

@font-face {
	font-family: Geomanist;
	font-style: normal;
	font-weight: 400;

	src: url('fonts/geomanist-regular-webfont.eot') format('embedded-opentype'); /* IE9 Compat Modes */
	src: url('fonts/geomanist-regular-webfont.woff2') format('woff2'), /* Moderner Browsers */
		 url('fonts/geomanist-regular-webfont.woff') format('woff'), /* Modern Browsers */
		 url('fonts/geomanist-regular-webfont.svg') format('svg'); /* Legacy iOS */
}

@font-face {
	font-family: Geomanist-Big;
	font-style: normal;
	font-weight: 500;

	src: url('fonts/geomanist-regular-webfont.eot') format('embedded-opentype'); /* IE9 Compat Modes */
	src: url('fonts/geomanist-regular-webfont.woff2') format('woff2'), /* Moderner Browsers */
		 url('fonts/geomanist-regular-webfont.woff') format('woff'), /* Modern Browsers */
		 url('fonts/geomanist-regular-webfont.svg') format('svg'); /* Legacy iOS */
}

@font-face {
	font-family: Geomanist-Big;
	font-style: normal;
	font-weight: 600;

	src: url('fonts/geomanist-regular-webfont.eot') format('embedded-opentype'); /* IE9 Compat Modes */
	src: url('fonts/geomanist-regular-webfont.woff2') format('woff2'), /* Moderner Browsers */
	url('fonts/geomanist-regular-webfont.woff') format('woff'), /* Modern Browsers */
	url('fonts/geomanist-regular-webfont.svg') format('svg'); /* Legacy iOS */
}
