/*  MONISTER animations  */
@keyframes redeye {
  0% {
  -webkit-filter: hue-rotate(0deg) contrast(none);
  filter: hue-rotate(0deg) contrast(none);
  }
  30% {
    -webkit-filter: hue-rotate(0deg) contrast(1);
    filter: hue-rotate(0deg) contrast(1);
  }
  100% {
    -webkit-filter: hue-rotate(320deg) contrast(2);
    filter: hue-rotate(320deg) contrast(2);
  }
}
@keyframes cleareye {
  0% {
    -webkit-filter: hue-rotate(320deg) contrast(2);
    filter: hue-rotate(320deg) contrast(2);
  }
  30% {
    -webkit-filter: hue-rotate(320deg) contrast(1);
    filter: hue-rotate(320deg) contrast(1);
  }
  100% {
    -webkit-filter: hue-rotate(0deg) contrast(none);
    filter: hue-rotate(0deg) contrast(none);
  }
}

@keyframes swingIt {
  0% {
  }
  30% {
  }
  100% {
  }
}

/* BUILD THE MONITSTER */
.monsterWrap{
  position: relative;
  top: 42px;
  left: 0;
  max-width: 310px;
  margin: 0 26.4% 0 auto;
  -webkit-animation:fadeIn .5s ease-in-out;
  -moz-transition:fadeIn .5s ease-in-out;
  -o-transition:fadeIn .5s ease-in-out;
  transition:fadeIn .5s ease-in-out
}
#monsterWrap__eyes{
  position: absolute;
  top: 22px;
  left: 148px;
  margin-left: 0;
  max-width: 150px;
  z-index: 980;
  .monsterWrap__eye {
    width: 40px;
    height: 34px;
    margin: 6px 0 0 30px;
    border-radius: 50%;
    float: left;
    cursor: none;
    background: #fff;
    .monsterWrap__iris {
      width:27px;
      height:27px;
      background:url(/img/monster/rightEye.png) top left no-repeat;
      background-size: 85%;
      &.red {
        -webkit-animation: redeye .5s forwards;
        animation: redeye .5s forwards;
      }
      &.clearEyes {
        -webkit-animation: cleareye .5s forwards;
        animation: cleareye .5s forwards;
      }
    }
    &:last-child {
      margin: 16px 0 0 11px;
      .monsterWrap__iris {
        background:url(/img/monster/leftEye.png) top left no-repeat;
        background-size: 85%;
        &.red {
          margin-top: 0;
        }
      }
    }
  }
}
#monsterWrap__monster{
  margin-bottom: -280px;
}
#monsterWrap__body{
  position:  relative;
  top: 0;
  left: 78px;
  max-width:375px;
  width: 85%;
  z-index: 982;
  img{
    width: 100%;
    margin: 0;
  }
}
#monsterWrap__arm{
  position: relative;
  max-width: 130px;
  top: -214px;
  left: 259px;
  width: 30%;
  z-index: 984;
  img{
    width: 100%;
    margin: 0;
  }
  &.swingIt {
    margin: 0;
    top: -247px;
    left: 256px;
    z-index: 981;
    img {
      margin: 0;
      transform: rotate(90deg);
      transform-origin: bottom left;
    }
  }
}
#monsterWrap__leg{
  position: relative;
  top: -286px;
  left: 78px;
  max-width: 120px;
  width: 30%;
  z-index: 979;
  img{
    width: 100%;
    margin: 0;
  }
}
#monsterWrap__toes{
  position: relative;
  top: -330px;
  left: 88px;
  max-width: 90px;
  width: 20%;
  z-index: 982;
  img{
    width: 100%;
    margin: 0;
  }
}
#airSpace {
  margin: 0 auto;
  width: 100%;
  height: 70%;
  border-radius: 200px;
  display: block;
  position:  absolute;
  z-index: 998;
  cursor: url(/img/cursor/biplane.png) default;
}
#kongFace {
  margin: 0 0 0 20%;
  max-width: 280px;
  width: 70%;
  height: 30%;
  display: block;
  position:  absolute;
  top: 140px;
  left: -7%;
  z-index: 999;
  -ms-transform: rotate(10deg); /* IE 9 */
  -webkit-transform: rotate(10deg); /* Safari */
  transform: rotate(10deg);
}
#kongSlap {
  margin: 0;
  width: 120px;
  height: 75px;
  display: block;
  position:  absolute;
  top: 275px;
  left: 64%;
  z-index: 999;
  -ms-transform: rotate(-40deg); /* IE 9 */
  -webkit-transform: rotate(-40deg); /* Safari */
  transform: rotate(-40deg);
}
.easeAnime {
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

/* CLOUD SKY

.cloudBurst{
  overflow: hidden;
  display: block;
  padding: 0;
  margin: 0 auto;
  width: 100%;
  height: 624px;
  position: absolute;
  overflow-x: hidden;
  div{
    margin: 0px;
    padding: 0px;
  }
  .cloud{
    width: 140px;
    height: 30px;
    background: transparent;
    border-radius: 30px;
    position: absolute;
    opacity: .7;
    &[data-speed="1"] {
      top: 238px;
      left: 200px;
    }
    &[data-speed="2"] {
      top: -15px;
      left: -200px;
      opacity: .4;
    }
    &[data-speed="3"] {
      left: 440px;
      top: 122px
    }
    &[data-speed="4"] {
      top: 145px;
    }
    &[data-speed="5"] {
      top: 425px;
      left: 500px;
    }
    &[data-speed="6"] {
      top: 265px;
      opacity: .4;
      z-index: 1100;
    }
    &[data-type*="white"] {
      &:before {
        content: "";
        display: block;
        width: 50%;
        height: 150%;
        top: -20px;
        left: 25px;
        background-color: #fff;
        border-radius: 30px;
        position: absolute;
      }
    }
    &[data-type="white_1"]:before{
      left: 20px;
      box-shadow: 80px 0 5px 10px #fff, 40px 0 5px 20px #fff, 110px 0 5px -5px #fff;
    }

    &[data-type="white_2"]:before{
      box-shadow: 40px -10px 5px 20px #fff, 80px -10px 5px 10px #fff, 115px -5px 5px -10px #fff;
    }

    &[data-type="white_3"]:before{
      box-shadow: 40px -10px 5px 15px #fff, 90px 0px 5px 15px #fff, 40px 25px 5px 20px #fff,
      0 40px 5px -5px #fff, 80px -10px 5px 10px #fff, 115px -5px 5px -10px #fff;
    }

    &[data-type="white_4"]:before{
      left: 20px;
      box-shadow: 80px 0 5px 10px #fff, 40px 0 5px 20px #fff, 110px 0 5px -5px #fff,
      80px 25px 5px 10px #fff, 40px 25px 5px 20px #fff, 0 40px 5px -5px #fff;
    }

    &[data-type="white_5"]:before{
      box-shadow: 60px -10px 5px 20px #fff, -5px -5px 5px 15px #fff, 120px 5px 5px 10px #fff,
      20px 30px 5px 20px #fff, 70px 30px 5px 10px #fff, 105px 40px 5px -10px #fff;
    }

    &[data-type="white_6"]:before{
      box-shadow: 40px -10px 5px 15px #fff, 90px 0 5px 15px #fff, 20px 30px 5px 15px #fff,
      80px 40px 5px 15px #fff, 90px 0 5px 15px #fff, 95px 30px 5px 15px #fff;
    }
  }
}

@-webkit-keyframes cloudfloat
{
  from {left:-30%;}
  to {left:125%;}
}
@-moz-keyframes cloudfloat
{
  from {left:-30%;}
  to {left:125%;}
}
@-ms-keyframes cloudfloat
{
  from {left:-30%;}
  to {left:125%;}
}
@-o-keyframes cloudfloat
{
  from {left:-30%;}
  to {left:125%;}
}
@keyframes cloudfloat
{
  from {left:-30%;}
  to {left:125%;}
}

[data-speed="1"]{
  animation: cloudfloat 68.20212s;
  -webkit-animation: cloudfloat 68.20212s;

}
[data-speed="2"]{
  animation: cloudfloat 153.08773s;
  -webkit-animation: cloudfloat 153.08773s;

}
[data-speed="3"]{
  animation: cloudfloat 100.62616s;
  -webkit-animation: cloudfloat 100.62616s;

}
[data-speed="4"]{
  animation: cloudfloat 374.26929s;
  -webkit-animation: cloudfloat 374.26929s;

}
[data-speed="5"]{
  animation: cloudfloat 122.08773s;
  -webkit-animation: cloudfloat 122.08773s;

}
[data-speed="6"]{
  animation: cloudfloat 195.58272s;
  -webkit-animation: cloudfloat 195.58272s;

}

.cloud{
  -webkit-animation-timing-function:linear;
  -webkit-animation-iteration-count:infinite;
  animation-timing-function:linear;
  animation-iteration-count:infinite;
  -webkit-animation-delay: -50s;
}
*/

@media (min-width: 320px) {
  .monsterWrap {
    margin: -3px 0 30px -17.2%;
  }
}
@media (min-width: 360px) {
  .monsterWrap {
    margin: -3px 0 30px -15.8%;
  }
}
@media (min-width: 375px) {
  .monsterWrap {
    margin: -3px 0 30px -12%;
  }
}
@media (min-width: 400px) {
  .monsterWrap {
    margin: -3px 0 30px -9.5%;
  }
}
@media (min-width: 410px) {
  .monsterWrap {
    margin: -3px 0 30px -7.3%;
  }
}
@media (min-width: 412px) {
  .monsterWrap {
    margin: -3px 0 30px -3.6%;
  }
}
@media (min-width: 414px) {
  .monsterWrap {
    margin: -3px 0 30px -3.3%;
  }
}
@media (min-width: 420px) {
  .monsterWrap {
    margin: -3px 0 30px -5.1%;
  }
  #kongFace {
    margin: 0 0 0 27%;
    width: 70%;
  }
}
@media (min-width: 425px) {
  .monsterWrap {
    margin: 0 0 30px -1.1%;
  }
}
@media (min-width: 430px) {
  .monsterWrap {
    margin: 0 0 30px -3.1%;
  }
}
@media (min-width: 440px) {
  .monsterWrap {
    margin: 0 0 30px -1.1%;
  }
}
@media (min-width: 450px) {
  .monsterWrap {
    margin: 0 0 30px .8%;
  }
}
@media (min-width: 460px) {
  .monsterWrap {
    margin: 0 0 30px 2.5%;
  }
}
@media (min-width: 470px) {
  .monsterWrap {
    margin: 0 0 30px 4.1%;
  }
}
@media (min-width: 480px) {
  .monsterWrap {
    margin: 0 0 30px 5.8%;
  }
}
@media (min-width: 490px) {
  .monsterWrap {
    margin: 0 0 30px 7.4%;
  }
}
@media (min-width: 500px) {
  .monsterWrap {
    margin: -3px 27.3% 30px auto;
  }
}
@media (min-width: 510px) {
  .monsterWrap {
    margin: -3px 27.1% 30px auto;
  }
}
@media (min-width: 520px) {
  .monsterWrap {
    margin: -3px 26.9% 30px auto;
  }
}
@media (min-width: 530px) {
  .monsterWrap {
    margin: -3px 26.8% 30px auto;
  }
}
@media (min-width: 540px) {
  .monsterWrap {
    margin: -3px 26.7% 30px auto;
  }
}
@media (min-width: 550px) {
  .monsterWrap {
    margin: 0 26.6% 30px auto;
  }
}
@media (min-width: 560px) {
  #monsterWrap__monster{
    margin-bottom: -280px;
  }
  #monsterWrap__eyes{
    top: 28px;
    left: 165px;
    max-width: 150px;
    .monsterWrap__eye {
      width: 40px;
      height: 34px;
      margin: 6px 0 0 30px;
      .monsterWrap__iris {
        width:27px;
        height:27px;
        background-size: 85%;
      }
      &:last-child {
        margin: 17px 0 0 17px;
        .monsterWrap__iris {
          background-size: 85%;
          &.red {
            margin-top: 0;
          }
        }
      }
    }
  }
  .monsterWrap {
    max-width: 350px;
    margin: 0 20.1% 0 auto;
  }
  #monsterWrap__arm {
    top: -242px;
    left: 283px;
    &.swingIt {
      top: -278px;
      left: 278px;
    }
  }
  #monsterWrap__leg {
    top: -327px;
  }
  #monsterWrap__toes {
    top: -377px;
    left: 90px;
  }
  #kongFace {
    left: 0;
    margin: 0 0 0 40%;
    width: 70%;
    height: 25%;
  }
  #kongSlap {
    left: 75%;
  }
}

@media (min-width: 766px) {
  #kongSlap {
    left: 70%;
  }
  .monsterWrap {
    left: 49px;
    margin: 0 auto;
  }
  #kongFace {
    left: 48%;
    margin: 0 auto;
  }
}

@media (min-width:992px) {
  #kongSlap {
    left: 68%;
  }
  #monsterWrap__monster{
    margin-bottom: -220px;
  }
  .monsterWrap {
    top: 130px;
    margin: 0 auto;
  }
}

@media (min-width:1200px) {
  #kongSlap {
    left: 64%;
  }
}
